[package]
name = "readable"
version = "0.8.8"
edition = "2021"
authors = ["hinto.janai <hinto.janai@protonmail.com>"]
description = "Human readable data formatting"
documentation = "https://docs.rs/readable"
repository = "https://github.com/hinto-janai/readable"
readme = "README.md"
keywords = ["human", "readable", "data", "read", "string"]
license = "MIT"

[package.metadata.docs.rs]
all-features = true
rustc-args = ["--cfg", "docsrs"]

[features]
default        = []
full           = ["serde", "bincode", "ignore_nan_inf", "inline_date", "inline_time", "inline_runtime"]
ignore_nan_inf = []
inline_date    = ["readable-inlined-date"]
inline_time    = ["readable-inlined-time"]
inline_runtime = ["readable-inlined-runtime"]
#inline_percent = ["readable-inlined-percent"]

[dependencies]
itoa        = "1.0.6"
paste       = "1.0.12"
seq-macro   = "0.3.3"
compact_str = { version = "0.7.0", features = ["bytes", "serde"] }
lazy_static = { version = "1.4.0" }
regex       = { version = "1.8.2" }
serde       = { version = "1.0.163", features = ["derive"], optional = true }
bincode     = { version = "2.0.0-rc.3", features = ["serde", "derive"], optional = true }
ryu = "1.0.13"

# Inlined crates.
readable-inlined-date    = { version = "0.1.2", optional = true }
readable-inlined-time    = { version = "0.1.0", optional = true }
readable-inlined-runtime = { version = "0.1.2", optional = true }
#readable-inlined-percent = { version = "0.1.0", optional = true }
